<form action="/new" method="post" class="card bg-dark text-light">
    <div class="card-body p-4 ">
        <div class="mb-3">
            <label for="nombre">Escribe tu Nombre Completo</label>
            <input
            type="text"
            class="form-control mb-3 p-2 rounded-end bg-dark text-white border-light"
            name="nombre"
            id="txtNombre"
            />
        </div>
        <div class="mb-3">
            <label for="email">Escribe tu Email</label>
            <input
            type="email"
            class="form-control mb-3 p-2 rounded-end bg-dark border-light text-white"
            name="email"
            id="txtEmail"
            />
        </div>
        <div class="mb-3">
            <label for="tel">Escribe tu teléfono</label>
            <input
            type="text"
            class="form-control mb-3 p-2 rounded-end bg-dark border-light text-white"
            name="tel"
            id="txtTel"
            />
        </div>
        <div class="mb-3">
            <label for="foto">Ingresa la direccion de la imagen de perfil</label>
            <input
            type="text"
            class="form-control mb-3 p-2 rounded-end bg-dark border-light text-white "
            name="foto"
            id="txtFoto"
            />
        </div>
    </div>
    <button class="btn btn-primary rounded-0">Guardar</button>
  </form>