{% include('layout.html') %}

{% block body %}

{% endblock %}

<div class="container">
    <h1 class="text-center">Sobre Nosotros</h1>
    <div class="card text-start bg-dark text-white">
      <img class="card-img-top" src="https://inscripcionesagencia.bue.edu.ar/codoacodo/iconos/logos/logo-CAC.webp" alt="Title">
      <h2 class="text-center">Proyecto CRUD creado como tarea durante el cursado del programa Codo a Codo 4.0</h2>
      <div class="card-body">
        <h4 class="card-title">Matias Saade</h4>
        <p class="card-text">Diciembre - 2022</p>
      </div>
    </div>
</div>